.Excel {
  text-align: center;
}

table {
  width: 100%;
  border: 0.1em solid grey;
}

td {
  border-top: 0.04em solid grey;
}

button:hover {
  background: #515196;
}

button {
  margin-bottom: 1em;
  padding: 0.6em;
  color: #fff;
  background: grey;
  font-size: 0.8em;
  font-weight: bold;
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}
