body {
  margin: 0;
  padding: 0 1em;
}

table {
  width: 100%;
  border: 0.1em solid grey;
}

.head th {
  user-select: none;
}

td {
  border-top: 0.04em solid grey;
}

td,
th {
  width: 100%;
  white-space: nowrap;
  padding: 0.3em;
}

th span {
  width: 23px;
  display: inline-block;
}

button:hover,
.active {
  background: #549bff;
}

button {
  margin: 1em 0;
  padding: 0.6em;
  background: grey;
  font-size: 0.8em;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button,
a {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

button,
input {
  outline: none;
}

input[type='text'] {
  width: 100%;
  border: none;
  background: #80808036;
}
